@charset "utf-8";
/* Filled in information */
/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Diego Sandoval
   Date:   10/24/18
   
   Filename: ss_layout.css

*/


/* Article Styles */
/* made the article display as block, float left and have a set width */
body article {
    display: block;
    float: left;
    width: 384px;
}

/* First Line and Drop Cap Styles */
/* Makes the first line have small capital letters, The next style made the first letter of the first sentence of the first paragraph really big and fancy looking. */
body article p:first-of-type::first-line {
    font-size: 1.25em;
    font-variant: small-caps;
}

body article p:first-of-type::first-letter {
    font-size: 4em;
    font-family: serif;
    float: left;
    line-height: 0.8em;
    margin-right: 5px;
    margin-left: 5px;
}

/* Aside Styles */
/* Sets the aside to a fix size and float left */
body aside#map {
    width: 768px;
    float: left;
}

/* Map Styles */
/* sets the div with the id of battleMap to a set width and a set margin. Then set the width of the image in that div to take up 100% of that div. */
body aside div#battleMap {
    width: 688px;
    margin: 20px auto;
    position: relative;
}

body aside div img.mapImage {
    display: block;
    width: 100%;
}

/* Interactive Map Styles */
/* makes all the hypperlinked images float onto the map so that they are in an absolute spot fixed spot on the map. */
body aside div a {
    position: absolute;
}

body aside div a#marker1 {
    display: block;
    top: 220px;
    left: 340px;
}

body aside div a#marker2 {
    display: block;
    top: 194px;
    left: 358px;
}

body aside div a#marker3 {
    display: block;
    top: 202px;
    left: 400px;
}

body aside div a#marker4 {
    display: block;
    top: 217px;
    left: 452px;
}

body aside div a#marker5 {
    display: block;
    top: 229px;
    left: 498px;
}

body aside div a#marker6 {
    display: block;
    top: 246px;
    left: 544px;
}

/* Map Information Styles */
/* Hides the map information, then makes it so when the battlemarker are hovered over they show their corresponding map information. */
.mapInfo {
    display: none;
}

a.battleMarkers:hover+div.mapInfo#info1 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info2 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info3 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info4 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info5 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info6 {
    display: block;
}