@charset "utf-8";

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 3
   Case Problem 3
   
   Layout Style Sheet for A Soldier's Scrapbook
   Author: Diego Sandoval
   Date:   24/24
   
   Filename: ss_layout.css

*/


/* Article Styles */
body article {
    display: block;
    float: left;
    width: 384px;
}

/* First Line and Drop Cap Styles */
body article p:first-of-type::first-line {
    font-size: 1.25em;
    font-variant: small-caps;
}

body article p:first-of-type::first-letter {
    font-size: 4em;
    font-family: serif;
    float: left;
    line-height: 0.8em;
    margin-right: 5px;
    margin-left: 5px;
}

/* Aside Styles */
body aside#map {
    width: 768px;
    float: left;
}


/* Map Styles */
body aside div#battleMap {
    width: 688px;
    margin: 20px auto;
    position: relative;
}

body aside div img.mapImage {
    display: block;
    width: 100%;
}

/* Interactive Map Styles */
body aside div a {
    position: absolute;
}

body aside div a#marker1 {
    display: block;
    top: 220px;
    left: 340px;
}

body aside div a#marker2 {
    display: block;
    top: 194px;
    left: 358px;
}

body aside div a#marker3 {
    display: block;
    top: 202px;
    left: 400px;
}

body aside div a#marker4 {
    display: block;
    top: 217px;
    left: 452px;
}

body aside div a#marker5 {
    display: block;
    top: 229px;
    left: 498px;
}

body aside div a#marker6 {
    display: block;
    top: 246px;
    left: 544px;
}

/* Map Information Styles */
.mapInfo {
    display: none;
}

a.battleMarkers:hover+div.mapInfo#info1 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info2 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info3 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info4 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info5 {
    display: block;
}

a.battleMarkers:hover+div.mapInfo#info6 {
    display: block;
}